.FileCSV-global {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem;
  margin-top: 2rem;
  z-index: 5;
}

.FileCSV-Btn {
  background-color: #00acb0;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.33rem 1.45rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 250px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.FileCSV-Btn:focus {
  outline: 0;
}

.FileCSV-Btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.FileCSV-Btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .FileCSV-Btn {
    padding: 0.65rem 2.8rem;
  }
}
