/* settings */
@import "./settings.scss";

/* components */
@import "./components/styles/NavBar.scss";
@import "./components/styles/NavBarConnected.scss";
@import "./components/styles/ConnectModal.scss";
@import "./components/styles/LogoutModal.scss";
@import "./components/styles/FilterListPage.scss";
@import "./components/styles/FileCSV.scss";
@import "./components/styles/Modify.scss";

/* pages */
@import "./pages/styles/Home.scss";
@import "./pages/styles/ListPage.scss";

/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

::-webkit-scrollbar {
  background: $white;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
-webkit-appearance: none;
margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
-o-appearance: none;
margin:0
}
